src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae4a4bbf-fa98-4d46-9734-7398fd8569cf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9df6a1d1-eb82-4b98-8480-a91a3b829e32" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="80551055-efe5-432f-8121-aa5b601ca96d" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ddc1ab04-46bf-4a28-9186-01b297a07365" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<flow name="getAllFlights" doc:id="968d9d07-c90d-4605-a822-bf7dd61f958f" >
		<http:listener doc:name="GET /flights" doc:id="77168815-689a-4612-9a24-642bcff625f7" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<set-variable value="#[message.attributes.queryParams.destination]" doc:name="Set Variable" doc:id="d33cf0e2-ea3f-448d-8b9e-a4b1f182ae1b" variableName="destination"/>
		<choice doc:name="Choice" doc:id="c80e3218-ad8b-46a6-9a8c-334f499d033d" >
			<when expression="#[vars.destination == null]">
				<db:select doc:name="Select all flights" doc:id="40fb7686-9a70-401a-895c-53e139d0a19e" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
			</when>
			<otherwise >
				<db:select doc:name="Select all flights with destination" doc:id="e43534c1-2647-49ff-ac5a-9a0a23358773" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT * from american where toAirport = :destination]]></db:sql>
					<db:input-parameters ><![CDATA[#[{ "destination": vars.destination }]]]></db:input-parameters>
				</db:select>
			</otherwise>
		</choice>
		<flow-ref doc:name="commonTransformAndLog" doc:id="e3e6a62a-0b62-430a-b543-57bb2acdfa56" name="commonTransformAndLog" />
	</flow>
	<sub-flow name="commonTransformAndLog" doc:id="64b02d0a-c188-415a-a8a7-c710c8593f31" >
		<ee:transform doc:name="Transform Message" doc:id="c8b4e9a8-06bc-4b38-bc9e-206078233b6b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Fetched Flights ID" doc:id="6162072c-bc09-4f66-862e-747981594844" message="#[payload.ID]" />
	</sub-flow>
	<flow name="getFlightByID" doc:id="29c8f6bf-5068-4c0c-990f-0607db87fd80" >
		<http:listener doc:name="GET /flights/{ID}" doc:id="ac20c38a-20c7-4015-8f84-4916e9a2a63a" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<set-variable value="#[message.attributes.uriParams.ID]" doc:name="Set Flight ID" doc:id="53917f77-7af1-485c-a91d-66c470f3531c" variableName="flightid"/>
		<validation:is-number numberType="INTEGER" doc:name="Is number" doc:id="1d049ad9-8156-46d3-ac1a-ad5ca6433a63" config-ref="Validation_Config" value="#[vars.flightid]" minValue="0"/>
		<db:select doc:name="Select flight by ID" doc:id="0d5fb23e-538b-47dc-8708-6371aa9ae15d" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM american where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ "ID": vars.flightid }]]]></db:input-parameters>
		</db:select>
		<flow-ref doc:name="commonTransformAndLog" doc:id="892c50f3-b33b-4214-9ae1-2a682e37614f" name="commonTransformAndLog"/>
	</flow>
	<flow name="postFlight" doc:id="579f2ce8-bc4c-4304-91fd-00bbd54e234e" >
		<http:listener doc:name="POST /flights" doc:id="76c83447-13fc-4156-a10c-bc897d751f4a" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="55197479-a950-47d8-a182-344c9e6e887f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Flight added (but not really!)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="hello-worldFlow" doc:id="23cdeead-a811-4f36-a3c3-68854b69e31d" >
		<http:listener doc:name="GET /time" doc:id="0b7e348f-6cdc-4b15-8b00-5f6aedd86223" config-ref="HTTP_Listener_config" path="/time" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="5e8a87cf-f539-420e-9a20-4ef0643d60c9" config-ref="HTTP_Request_configuration" path="/" responseTimeout="300000"/>
	</flow>
</mule>
